/* ======================
   Attendance Table Styles
   ====================== */

.attendance_container {
  background: #2a2a2a !important;
  border-radius: 16px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.attendance_table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 16px 0px 0px ;
  overflow: hidden;
}

.attendance_thead {
  background: #1a1a1a !important;
}

.attendance_tr {
  transition: background 0.2s ease;
}

.attendance_tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.attendance_th {
  padding: 14px 18px;
  background: #101010 !important;
  border-bottom: 1px solid #2a2a2a;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.attendance_td {
    text-align: center;
  padding: 14px 18px;
  font-size: 15px;
  color: #FAF9F6;
  background-color: #1f1f1f !important;
  border-bottom: 1px solid #2a2a2a;
}

/* Status colors */
.attendance_onTime {
  color: #0dbf0d;
  font-weight: 600;
}
.attendance_late {
  color: #ff9500;
  font-weight: 600;
}
.attendance_leave {
  color: #ff0000;
  font-weight: 600;
}

/* Status text & dot */
.attendance_statusText {
  display: inline-block;
  white-space: nowrap;
  padding: 4px 8px;
  border-radius: 20px;
  font-size: 13px !important;
  font-weight: 600;
}

/* On Time */
.attendance_onTime .attendance_statusText {
  color: #0dbf0d;
  background-color: rgba(13, 191, 13, 0.15);
}
.attendance_onTime .attendance_statusDot {
  background-color: #0dbf0d;
}

/* Late */
.attendance_late .attendance_statusText {
  color: #ff9500;
  background-color: rgba(255, 149, 0, 0.15);
}
.attendance_late .attendance_statusDot {
  background-color: #ff9500;
}

/* Leave */
.attendance_leave .attendance_statusText {
  color: #ff0000;
  background-color: rgba(255, 0, 0, 0.15);
}
.attendance_leave .attendance_statusDot {
  background-color: #ff0000;
}


.attendance_statusDot {
  display: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 6px;
}

.attendance_onTime .attendance_statusDot {
  background-color: #0dbf0d;
}
.attendance_late .attendance_statusDot {
  background-color: #ff9500;
}
.attendance_leave .attendance_statusDot {
  background-color: #ff0000;
}

/* Session */
.attendance_fullText {
  display: inline;
}
.attendance_shortText {
  display: none;
}

/* Responsive */
@media (max-width: 769px) {
  .attendance_fullText {
    display: none;
  }
  .attendance_shortText {
    display: inline;
  }
  .attendance_statusText {
    display: none;
  }
  .attendance_statusDot {
    display: inline-block;
  }
}

@media (max-width: 500px) {
  .attendance_container {
    border-radius: 6px;
  }
  .attendance_table {
    border-radius: 6px 0px 0px ;

}
    .attendance_th,
  .attendance_td {
    padding: 8px 10px;
    font-size: 10px;
    text-align: center;
  }
}
